<partial src="modal-about.html"></partial>

<div class="col-lg-6 p-5 bg-light-teal">
  <div class="lead-image">

    <div class="video-holder">
      <a href="#" data-bs-toggle="modal" data-bs-target="#modal-about">
        <button class="btn btn-play btn-white position-absolute bottom-0 start-0 m-3">
          <i class="lni lni-play"></i>
        </button>
      </a>
      <img src="img/video-cover-graham.jpg" class="lazy" width="100%" loading="lazy" />
    </div>
  </div>
  <h3 class="mt-5 display-6">
    15,000+ <span class="header-highlight"><span>Souls Healed</span><span></span></span>
  </h3>
  <p>
    Rythmia is the #1 customer-rated specialty lodging in the world on Tripadvisor with over 2,300 five-star reviews.
  </p>
  <partial src="reviews-slider.html"></partial>
</div>
