<footer class="footer text-center bg-light-coral">
  <div class="footer__texture"></div>
  <div class="container pb-5 pt-5">
    <div class="row">
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Main Menu</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <a href="index.html" class="footer__link">Home</a>
          </li>
          <li class="footer_item">
            <a href="experience.html" class="footer__link">Experience</a>
          </li>
          <li class="footer_item">
            <a href="resort.html" class="footer__link">Resort</a>
          </li>
          <li class="footer_item">
            <a href="our-story.html" class="footer__link">Our Story</a>
          </li>
          <li class="footer_item">
            <a href="board-of-directors.html" class="footer__link">Board of Directors</a>
          </li>
          <li class="footer_item">
            <a href="testimonials.html" class="footer__link">Testimonials</a>
          </li>
          <li class="footer_item">
            <a href="guest-speakers.html" class="footer__link">Guest Speakers</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Help</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <a href="book.html" class="footer__link">Book Now</a>
          </li>
          <li class="footer_item">
            <a href="schedule.html" class="footer__link">Schedule a Call</a>
          </li>
          <li class="footer_item">
            <a href="contact.html" class="footer__link">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Call today!</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <span class="pNumber">+1 (866) 879-7992</span>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
          <h4 class="display-9">Make your inbox vibrate higher</h4>
          <div class="mb-3">
            <form accept-charset="UTF-8" action="https://yu240.infusionsoft.com/app/form/process/e4b738947c7e29244613981bdcaae20b" class="infusion-form" id="inf_form_e4b738947c7e29244613981bdcaae20b" method="POST"> <input name="inf_form_xid" type="hidden" value="e4b738947c7e29244613981bdcaae20b" /> <input name="inf_form_name" type="hidden" value="Web Form Submitted&#a;Rythmialifeadvancement.com&#a;Footer Newsletter Web Form UTM" /> <input name="infusionsoft_version" type="hidden" value="1.70.0.580789" /> <input name="inf_field_LeadSourceId" type="hidden" value="2143L" />
            <label for="footer-email" class="form-label">First Name *</label>
            <input id="inf_field_FirstName" class="form-control" name="inf_field_FirstName" placeholder="" type="text" />
            <label for="footer-email" class="form-label">Last Name *</label>
            <input id="inf_field_LastName" class="form-control" name="inf_field_LastName" placeholder="" type="text" />
            <label for="footer-email" class="form-label">Email address</label>
            <input type="email" name="inf_field_Email" class="form-control" id="footer-email" aria-describedby="emailHelp">
          </div>
          <input type="hidden" id="" name="webformId" value="0009">
          <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
          <input name="inf_custom_gaid" type="hidden" value="null" />
          <input name="inf_custom_utmmedium" type="hidden" value="null" />
          <input name="inf_custom_utmsource" type="hidden" value="null" />
          <input name="inf_custom_utmcampaign" type="hidden" value="null" />
          <input name="inf_custom_utmcontent" type="hidden" value="null" />
          <input name="inf_custom_utmterm" type="hidden" value="null" />
          <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
          <input name="inf_custom_gaid" type="hidden" value="null" />
          <input name="inf_custom_PageSource" type="hidden" value="footer-newsletterform" />
          <button type="submit" class="btn btn-primary">Sign Up for Emails</button>
        </form>
      </div>
    </div>

    <div class="footer__bottom">
      &copy; Rythmia Life Advancement Center
      <br />
      <a href="terms-privacy.html" class="terms-link inline-link">Terms & Privacy</a>
    </div>
    <a href="https://www.rythmialifeadvancement.com" class=" footer__logo">
      <img src="img/logo-footer.png" />
    </a>
  </div>
<!-- All JS Navbar-->
<script>
var mainNav = document.getElementById("nav");

window.onscroll = function() {
  "use strict";
  if (document.body.scrollTop >= 30 || document.documentElement.scrollTop >= 30) {
    mainNav.classList.add("nav-scroll");
  } else {
    mainNav.classList.remove("nav-scroll");
  }
};
</script> 

<script src="js/all.js"></script>
</body>

</html>
