<footer class="footer text-center bg-light-coral">
  <div class="footer__texture"></div>
  <div class="container pb-5 pt-5">
    <div class="row">
      <div class="col-6 col-md-3">
        <!-- <h6 class="footer__heading">Main Menu</h6> -->
        <ul class="footer__menu">
          <!-- <li class="footer_item">
            <a href="index.html" class="footer__link">Home</a>
          </li>
          <li class="footer_item">
            <a href="experience.html" class="footer__link">Experience</a>
          </li>
          <li class="footer_item">
            <a href="resort.html" class="footer__link">Resort</a>
          </li>
          <li class="footer_item">
            <a href="our-story.html" class="footer__link">Our Story</a>
          </li>
          <li class="footer_item">
            <a href="board-of-directors.html" class="footer__link">Board of Directors</a>
          </li>
          <li class="footer_item">
            <a href="scholarship.html" class="footer__link">Scholarship</a>
          </li>
          <li class="footer_item">
            <a href="testimonials.html" class="footer__link">Testimonials</a>
          </li>
          <li class="footer_item">
            <a href="guest-speakers.html" class="footer__link">Guest Speakers</a>
          </li>
          <li class="footer_item">
            <a href="https://www.rythmia.life" class="footer__link">RLIFE</a>
          </li>
          <li class="footer_item">
            <a href="https://www.rtalkpodcast.com/" class="footer__link">Blog & Podcast</a>
          </li> -->
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <!-- <h6 class="footer__heading">Help</h6> -->
        <ul class="footer__menu">
          <!-- <li class="footer_item">
            <a href="book.html" class="footer__link">Book Now</a>
          </li>
          <li class="footer_item">
            <a href="schedule.html" class="footer__link">Schedule a Call</a>
          </li>
          <li class="footer_item">
            <a href="contact.html" class="footer__link">Contact Us</a>
          </li> -->
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Call today!</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <span class="pNumber">1 (855) 430-9151</span>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
          <h4 class="display-9">Make your inbox vibrate higher</h4>
          <div class="mb-3">
            <form accept-charset="UTF-8" action="https://yu240.infusionsoft.com/app/form/process/8caa32faa07bb0c7a589702a8e88c22a" class="form footer__form" id="inf_form_8caa32faa07bb0c7a589702a8e88c22a" method="POST"> <input name="inf_form_xid" type="hidden" value="8caa32faa07bb0c7a589702a8e88c22a" /> <input name="inf_form_name" type="hidden" value="Web Form Submitted&#a;rythmialifeadvancement.com&#a;Footer Newsletter Web Form&#a;New DirtyWebsite 2 Footer Form 1" /> <input name="infusionsoft_version" type="hidden" value="1.70.0.385447" /> 
                <input name="inf_field_LeadSourceId" type="hidden" value="7170" />
            <label for="footer-email" class="form-label">First Name *</label>
            <input id="inf_field_FirstName" class="form-control" name="inf_field_FirstName" placeholder="" type="text" />
            <label for="footer-email" class="form-label">Last Name *</label>
            <input id="inf_field_LastName" class="form-control" name="inf_field_LastName" placeholder="" type="text" />
            <label for="footer-email" class="form-label">Email address</label>
            <input type="email" name="inf_field_Email" class="form-control" id="footer-email" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up for Emails</button>
        </form>
      </div>
    </div>
    <div class="footer__social">
     <a href="https://www.facebook.com/rythmia" target="_blank">
        <i class="lni lni-facebook"></i>
      </a>
      <a href="https://www.instagram.com/rythmia_" target="_blank">
        <i class="lni lni-instagram"></i>
      </a>
      <a href="https://www.twitter.com/rythmia" target="_blank">
        <i class="lni lni-twitter"></i>
      </a>
    </div>
    <div class="footer__bottom">
      &copy; Rythmia Life Advancement Center
      <br />
      <a href="terms-privacy.html" class="terms-link inline-link">Terms & Privacy</a>
    </div>
    <a href="https://www.rythmialifeadvancement.com" class=" footer__logo">
      <img src="img/logo-footer.png" />
    </a>
  </div>
 

<!-- All JS -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BKV5VT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    
  </footer>

<script src="js/all.js"></script>

</body>

</html>
