<!-- Modal - Travel Arrival  -->
<div class="modal fade" id="modal-plant-medicine-ceremony" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ancient wisdom Program - Preparing for Ceremony</h5><br>
            <br>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
          
          <div class="modal-body">
            <p>Welcome to the Rythmia Herbal Support Therapy Program!</p>
            <p>If you are reading this document, it means that you have been given the all clear by our medical staff to attend the Herbal Support Therapy Sessions.</p>
            <p>Please see below for recommended guidelines to enhance your experience with the Herbal Therapies we offer, and to ensure that you get the most out of your healing experience:</p>

          <h6 class="display-10">List of Foods that are RECOMMENDED on the Herbal Support Therapy Sessions</h6> 
            <ul>
                <li>All Vegetables, All Fruits (except overly ripe avocado and bananas)</li>
                <li>Eggs</li>
                <li>All Grains and Legumes</li>
                <li>Coconut, Olive, and Vegetable Oil in small amounts</li>
                <li>Small amounts of Sea Salt or Himalayan Salt,</li>
                <li>Caffeine Free Herbal Teas</li>
                <li>Chicken and Fish</li>
                <li>Honey and Maple Syrup in small amounts,</li>
                <li>Nuts and Seeds</li>

            </ul>
            <p>Drink 2 liters of water daily to stay hydrated and to assist the cleansing action of the program.</p>
            <h6 class="display-10">Foods to AVOID while partaking in Herbal Support Sessions</h6>
           <ul>
            <li>Coffee and Black Tea</li>
            <li>Dairy</li>
            <li>Red Meat and Pork</li>
            <li>Refined Sugar</li>
            <li>Fried foods,</li>
            <li>Refined Salt</li>
            <li>Alcohol</li>
            <li>Illegal Drugs and Non-approved medications (medical staff will advise) – Soda</li>
            <li>Fermented foods and Vinegar</li>
            <li>Cured meats, Canned, or Processed food</li>
            <li>Large amounts of Citrus</li>
        </ul>

            <p>It is recommended that Guests avoid using strong smelling fragrances and strong commercial body products during the program.</p>

            <p>It is recommended that Guests avoid any sexual activity during their work within the Herbal Support Therapy Program. This is to maintain your body’s own healing energy so that it may better sustain you through the healing journey.</p> 
           <h6 class="display-10">Please follow these guidelines for 3 days prior to taking the medicine, while taking the medicine, and also for 3 days after taking the medicine.</h6> 
           <h6 class="display-10">Guests on the Herbal Support Therapy Program are encouraged to limit the amount of time they spend on the Internet and watching TV. Rather, fill your mind with positive and uplifting/spiritual messages and images to better sustain you through your healing journey.</h6>  
           <p>There is a group Herbal Support Therapy Integration meeting every afternoon. This is your opportunity to ask questions, and talk about your experiences and insight, which is an important part of your process!</p>
           <p>*During the Herbal Support Therapy sessions, please wear loose fitting, light-colored, comfortable clothing. **Ladies please let us know if you are on your period.</p>
          <h6 class="display-10">ON THE EVENING OF HERBAL SUPPORT THERAPY SESSION:</h6> 
          <p>No eating after 2pm (have a light lunch), and no juices or coconut water after 4pm.</p>




            </p>
    
          </div>
        </div>
      </div>
</div>
