<!-- Modal - Travel Arrival  -->
<div class="modal fade" id="modal-plant-medicine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ancient wisdom Program</h5><br>
            <br>
            <h6 class="display-10">Before you Arrive</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
          
          <div class="modal-body">
            <p>If you are participating in the Herbal Support Therapy program, there are some things we need you to understand prior to your arrival. Please bring your Ancient wisdom fee of $460. That fixed fee of $460 will cover your Ancient wisdom for four medical appointments within the Herbal Support Therapy program. The fee for medicine is due to the medical company on-site at the resort.</p>
          <h6 class="display-10">Things We Need From You</h6> 
            <p>Please send the name and phone number of an emergency contact.</p> 
            
              








            </p>
    
          </div>
        </div>
      </div>
</div>
