<section class="drawer drawer--left" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">
        MENU
      </div>
      <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
    </div>
    <div class="drawer__content text-center">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./experience.html">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./resort.html">Resort</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./our-story.html">Our Story</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./scholarship.html">Scholarship</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./testimonials.html">Testimonials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./guest-speakers.html">Testimonials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.rythmia.life" target="_blank">RLIFE</a>
        </li>
        <li class="d-grid mt-3">
          <a class="btn btn-primary" href="book.html" role="button">Book Now</a>
        </li>
        <li class="text-center mt-3">
          <p class="caption">
            or call today!
            <br />
            <span class="pNumber">+1 (866) 879-7992</span>
          </p>
        </li>
      </ul>
      <a href="/" class="logo-link"><img src="img/logo-footer.png" class="py-3" /></a>
    </div>
  </div>
</section>

<nav class="navbar-top">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 col-0 text-start d-none d-md-block">
        <div class="social">
          <a href="https://www.facebook.com/rythmia" target="_blank">
            <i class="lni lni-facebook"></i>
          </a>
          <a href="https://www.instagram.com/rythmia_" target="_blank">
            <i class="lni lni-instagram"></i>
          </a>
          <a href=" https://twitter.com/Rythmialac" target="_blank">
            <i class="lni lni-twitter"></i> 
          </a>
        </div>
      </div>
      <div class="col-md-4 col-6 middle-col">
        <a href="#" class="medical-license-link" data-bs-toggle="modal" data-bs-target="#modal-medical-license">
          Medical License
        </a>
      </div>
      <div class="col-md-4 col-6 text-end">
        <span class="phone pNumber">
          +1 (866) 879-7992
        </span>
      </div>
    </div>
  </div>
</nav>


<nav class="navbar navbar-expand-md navbar-dark fixed-top px-3" id="nav">
  <a class="navbar-brand mr-auto" href="./index.html">
    <img src="../img/logo-header.png" class="navbar-brand__img" />
  </a>
  <a href="#" class="drawer-toggler d-block d-lg-none" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false">
  </a>

  <div class="navbar-holder d-none d-lg-block ms-auto">
    <ul class="navbar-nav ml-auto">
      <li class="text-center mt-3">
        <p class="stickyhone">
        call today!
          <br />
          <span class="pNumber">+1 (866) 879-7992</span>
        </p>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="./experience.html">Experience</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./resort.html">Resort</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./our-story.html">Our Story</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./testimonials.html">Testimonials</a>
      </li>
      <li class="ps-2">
        <a class="btn btn-primary btn-sm" href="./book.html" role="button">Book Now</a>
      </li>
    </ul>
  </div>
</nav>
