<nav class="newbanner_top ">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-0 text-start d-none d-md-block">
          <div class="">
          
          </div>
        </div>
        <div class="col-md-12 col-12 middle-col pt-2 text-center">
           <p>Autumn Awakenings: Save $750 when you book on or before September 30th. CODE: AUTUMN750. Terms apply. <a style="color: white;" href="https://www.rythmialifeadvancement.com/schedule.html" title="Learn More about this offer-rythmia" target="blank">Learn more!</a></p>
        </div>
      </div>
    </div>
  </nav>