<!-- Raffle -->
<section class="feature feature--raffle bg-shipibo p-5">
  <div class="container position-relative p-2">
    <div class="row align-items-end">
      <div class="col-md-6 text-center align-self-center ps-2">
        <div class="feature__content-center" loading="lazy">
          <h3 class="display-6">
            Enter to win a transformation vacation
          </h3>
          <p>
            We choose a new winner each month.
          </p>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <form accept-charset="UTF-8" action="https://yu240.infusionsoft.com/app/form/process/e4b738947c7e29244613981bdcaae20b" class="infusion-form" id="inf_form_e4b738947c7e29244613981bdcaae20b" method="POST"> <input name="inf_form_xid" type="hidden" value="e4b738947c7e29244613981bdcaae20b" /> <input name="inf_form_name" type="hidden" value="Web Form Submitted&#a;Rythmialifeadvancement.com&#a;Footer Newsletter Web Form UTM" /> <input name="infusionsoft_version" type="hidden" value="1.70.0.580789" /> <input name="inf_field_LeadSourceId" type="hidden" value="2143L" />
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input id="inf_field_FirstName" class="form-control" name="inf_field_FirstName" placeholder="" type="text" />
              </div>
              </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input id="inf_field_LastName" class="form-control"  name="inf_field_LastName" placeholder="" type="text" />
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input id="inf_field_Email" class="form-control" name="inf_field_Email" placeholder="" type="text" />
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="terms">
            <label class="form-check-label" for="terms">I agree to the <a href="terms-privacy.html" class="inline-link">terms</a></label>
            <input type="hidden" id="" name="webformId" value="0002">
            <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
            <input name="inf_custom_gaid" type="hidden" value="null" />
            <input name="inf_custom_utmmedium" type="hidden" value="null" />
            <input name="inf_custom_utmsource" type="hidden" value="null" />
            <input name="inf_custom_utmcampaign" type="hidden" value="null" />
            <input name="inf_custom_utmcontent" type="hidden" value="null" />
            <input name="inf_custom_utmterm" type="hidden" value="null" />
            <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
            <input name="inf_custom_gaid" type="hidden" value="null" />
            <input name="inf_custom_PageSource" type="hidden" value="testimonal-raffle" />
          </div>
          <div class="mt-4 infusion-submit"> <button class="btn btn-primary form__button infusion-recaptcha" id="recaptcha_43ff64cc39aff597a25ecbd26d3f5ae1" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /Raffle -->
