<!-- Reviews Slider -->
<div class="glide glide--reviews" id="glide">
  <div class="gradient-left"></div>
  <div class="gradient-right"></div>
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides pt-5 pb-5">
      <li class="glide__slide">
        <img src="img/reviews-avatar-jacqueline-g.jpg" class="avatar" />
        <h4 class="title">
          I mean, c'mon!
        </h4>
        <div class="content">
          <p>
            “Well over a thousand 5 star reviews of guests gushing about their experience at Rythmia and you're still reading reviews? haha... book it!!!
          </p>
          <p>
            Just visited in January 2021 and had an incredible really indescribable experience. An entourage of love, support, and guidance during and after.
          </p>
          <p>
            This is the place to go. Is the journey a walk in the park? No, it's work. But it's worth it. Changed my life forever.
          </p>
        </div>
        <h4 class="author">
          Jacqueline G.
        </h4>
        <img src="img/logo-trip-advisor.png" class="source" />
      </li>
      <li class="glide__slide">
        <img src="img/reviews-avatar-Tour20361.jpg" class="avatar" />
        <h4 class="title">
          MD Review
        </h4>
        <div class="content">
          <p>
            "I am so thankful I came to witness the true physical, emotional , and spiritual healing of others and finding such spiritual balance for myself. The place is beautiful, the staff are amazing , and the food is delicious. I can’t wait to refer people here."
          </p>
        </div>
        <h4 class="author">
          Tour20361
        </h4>
        <img src="img/logo-trip-advisor.png" class="source" />
      </li>
      <li class="glide__slide">
        <img src="img/reviews-avatar-linda-m.jpg" class="avatar" />
        <h4 class="title">
          One year later...
        </h4>
        <div class="content">
          <p>
            "I was a guest at Rythmia late June-early July 2019. I wrote a review then...and one year later it remains one of the best decisions I've made. They advertise that 90+% of guests get their "miracle" and that it lasts. I am one of
            those statistics. It's difficult to define the wonderful opportunity they provide--and the work you will have to commit to if you go...but oh my, what a blessing. Rythmia is a very special place. I hope you get to go, and soon."
          </p>
        </div>
        <h4 class="author">
          Linda M.
        </h4>
        <img src="img/logo-trip-advisor.png" class="source" />
      </li>
    </ul>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>
