<section class="reviews pt-5 pb-5 bg-light-teal">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="px-5">
          <h4 class="display-4 pb-4"><span class="soulsServed">15,000</span>+ Souls Healed</h4>
          <img src="img/logo-trip-advisor.png" width="150px" />
          <p class="pt-5">
            Rythmia is the #1 customer-rated specialty lodging in the world on Tripadvisor with over 2,300 five-star reviews.
          </p>
          <!-- <a href="#" class="inline-link">
            Read Tripadvisor reviews
          </a> -->
        </div>
      </div>
      <div class="col-md-8">
        <partial src="reviews-slider.html"></partial>
      </div>
    </div>
  </div>
</section>
