<section class="email-collector email-collector--soul-guide pt-5 pb-5 overflow-hidden">
  <div class="container position-relative">
    <div class="row align-items-start">
      <div class="col-md-8">
        <div class="row pe-5">
          <div class="col-4 align-self-top">
            <img src="img/sacred-object-sage.png" width="100%" class="lazy" loading="lazy" />
          </div>
          <div class="col-6 align-self-center">
            <img src="img/sacred-object-soul-guide.png" width="100%" class="lazy" loading="lazy" />
          </div>
          <div class="col-2 align-self-end">
            <img src="img/sacred-object-feather.png" width="100%" class="lazy" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="col-md-4 align-self-center"> 
        <h6 class="display-7">Get Your Free Prep Guide</h6>
        <p>
          Enter your name & email to instantly receive your guide. You’ll also recieve occasional news from Rythmia.
        </p>
        <partial src="email-collector-form-2.html"></partial>
      </div>
    </div>
    <div class="bg-circle bg-circle--orange position-absolute top-0 start-50 translate-middle"></div>
  </div>
</section>
