<footer class="footer text-center bg-light-coral">
  <div class="footer__texture"></div>
  <div class="container pb-5 pt-5">
    <div class="row">
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Main Menu</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <a href="index.html" class="footer__link">Home</a>
          </li>
          <li class="footer_item">
            <a href="experience.html" class="footer__link">Experience</a>
          </li>
          <li class="footer_item">
            <a href="resort.html" class="footer__link">Resort</a>
          </li>
          <li class="footer_item">
            <a href="our-story.html" class="footer__link">Our Story</a>
          </li>
          <li class="footer_item">
            <a href="board-of-directors.html" class="footer__link">Board of Directors</a>
          </li>
          <li class="footer_item">
            <a href="scholarship.html" class="footer__link">Scholarship</a>
          </li>
          <li class="footer_item">
            <a href="testimonials.html" class="footer__link">Testimonials</a>
          </li>
          <li class="footer_item">
            <a href="guest-speakers.html" class="footer__link">Guest Speakers</a>
          </li>
          <li class="footer_item">
            <a href="https://www.rythmia.life" class="footer__link">RLIFE</a>
          </li>
          <li class="footer_item">
            <a href="https://www.rtalkpodcast.com/" class="footer__link">Blog & Podcast</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Help</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <a href="book.html" class="footer__link">Book Now</a>
          </li>
          <li class="footer_item">
            <a href="schedule.html" class="footer__link">Schedule a Call</a>
          </li>
          <li class="footer_item">
            <a href="contact.html" class="footer__link">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6 class="footer__heading">Call today!</h6>
        <ul class="footer__menu">
          <li class="footer_item">
            <span class="pNumber">+1 (844) 236-5674</span>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
          <h4 class="display-9">Make your inbox vibrate higher</h4>
          <div class="mb-3">
            <form accept-charset="UTF-8" action="https://yu240.infusionsoft.com/app/form/process/7e16fa780f7d27210c58f13a5694f457" class="infusion-form" id="inf_form_7e16fa780f7d27210c58f13a5694f457" method="POST"> <input name="inf_form_xid" type="hidden" value="7e16fa780f7d27210c58f13a5694f457" /> <input name="inf_form_name" type="hidden" value="Web Form Submitted&#a;Rythmia.com&#a;Footer Form1 UTM" /> <input name="infusionsoft_version" type="hidden" value="1.70.0.580789" /> <input name="inf_field_LeadSourceId" type="hidden" value="1539L" /> 
            <label for="footer-email" class="form-label">First Name *</label>
            <input id="inf_field_FirstName" class="form-control" name="inf_field_FirstName" placeholder="" type="text" />
            <label for="footer-email" class="form-label">Last Name *</label>
            <input id="inf_field_LastName" class="form-control" name="inf_field_LastName" placeholder="" type="text" />
            <label for="footer-email" class="form-label">Email address</label>
            <input type="email" name="inf_field_Email" class="form-control" id="footer-email" aria-describedby="emailHelp">
          </div>
          <input type="hidden" id="" name="webformId" value="0001">
          <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
          <input name="inf_custom_gaid" type="hidden" value="null" />
          <input name="inf_custom_utmmedium" type="hidden" value="null" />
          <input name="inf_custom_utmsource" type="hidden" value="null" />
          <input name="inf_custom_utmcampaign" type="hidden" value="null" />
          <input name="inf_custom_utmcontent" type="hidden" value="null" />
          <input name="inf_custom_utmterm" type="hidden" value="null" />
          <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
          <input name="inf_custom_gaid" type="hidden" value="null" />
          <input name="inf_custom_PageSource" type="hidden" value="footer-newsletter" />
          <input name="inf_custom_utmmedium" type="hidden" value="null" /> <input name="inf_custom_utmsource" type="hidden" value="null" /> <input name="inf_custom_utmcampaign" type="hidden" value="null" /> <input name="inf_custom_utmcontent" type="hidden" value="null" /> <input name="inf_custom_utmterm" type="hidden" value="null" /> <input name="inf_custom_KeywordTerm" type="hidden" value="null" /> <input name="inf_custom_gaid" type="hidden" value="null" /> <div class="infusion-submit"> 
            <button class="infusion-recaptcha btn btn-primary" id="recaptcha_7e16fa780f7d27210c58f13a5694f457" type="submit">Sign Up for Emails</button>
          <!-- <button type="submit" class="btn btn-primary">Sign Up for Emails</button> -->

        </form>
      </div>
    </div>
    <div class="footer__social"> 
      <a href="default.asp">
        <!-- <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;">
        </a> -->
      <a href="https://www.facebook.com/rythmia"><img src="img/facebook-orange.png" alt="Facebook"/> 
        <!-- <span class='fb_icon'></span> -->
      </a>
      <a href="https://www.instagram.com/rythmia_"> <img src="img/instagram-orange.png" alt="Instagram" target="_blank"/>
        <!-- <i class="lni lni-instagram"></i> -->
      </a>
      <a href="https://twitter.com/Rythmialac"> <img src="img/x-orange.png" alt="Twitter" target="_blank"/>
        <!-- <i class="lni lni-twitter"></i> -->
      </a>
      <a href="https://www.tiktok.com/@rythmialac "> <img src="img/tiktok-orange.png" alt="Tik Tok" target="_blank"/>
        <!-- <i class="lni lni-twitter"></i> -->
      </a>
      <a href="https://www.youtube.com/@Rythmia" > <img src="img/youtube-orangge.png" alt="Youtube" target="_blank"/>
        <!-- <i class="lni lni-twitter"></i> -->
      </a>
      <a href="https://www.pinterest.com/rythmia_life_advancement/ "> <img src="img/pinterest-orange.png" alt="Pinterest"  target="_blank"/>
        <!-- <i class="lni lni-twitter"></i> -->
      </a>
    </div>
    <div class="footer__bottom">
      &copy; Rythmia 
      <br />
      <a href="terms-privacy.html" class="terms-link inline-link">Terms & Privacy</a>
    </div>
    <a href="https://www.rythmia.com" class=" footer__logo">
      <img src="img/logo-footer.png" /></a>  
  </div>


<!-- All JS -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BKV5VT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</footer>
<script src="js/all.js"></script>

</body>

</html>
