<section class="feature feature--gerry bg-light-orange">
  <div class="container position-relative pt-5">
    <div class="row align-items-end">
      <div class="col-md-6 order-md-1 order-2">
        <img src="img/gerry.png" width="100%" class="lazy feature__img align-bottom" loading="lazy" alt="Gerry Powell founder and CEO of Rythmia Ayahuasca Retreat" />
      </div>
      <div class="col-md-6 text-center align-self-center order-1 order-md-2 ps-2">
        <div class="feature__content-center" loading="lazy">
          <h3 class="display-6">
            "I was healed from a lifetime of suffering. Today I am happy and free. Rythmia has helped <span class="soulsServed">12,000</span>+ souls receive their miracle."
          </h3>
          <small class="caption mb-2">Gerard (Gerry) Powell, Rythmia Founder & CEO</small>
          <a href="our-story.html" class="btn btn-teal mt-3 mb-5">Our Story</a>
        </div>
      </div>
    </div>
    <div class="bg-circle bg-circle--orange position-absolute top-0 start-50 translate-middle mt-4"></div>
  
  <a class="miracle-rate-circle position-absolute top-100 start-50 translate-middle">
    <span id="K"><span class="miracle-rate-circle__percent mRate" id="mRate">97.65</span> %</span>
     <span class="miracle-rate-circle__label">Miracle Rate</span>
   </a>
  </div>
</section>
