<partial src="headParts/htop.html"></partial>

<!-- Title -->
    <title>Your Experience | Rythmia Ayahuasca Retreat </title>
    
    <meta name="description" content="We are the premier destination for someone seeking personal growth in all areas of their life through strengthening their spiritual, mental, and physical selves. We have a customized curriculum which provides guest the most comprehensive holistic care anywhere.
    We provide luxurious and spacious accommodations in a serene, quiet setting. farm-to-table organic foods, healing touch health club and spa">
    <meta name="keywords" content="Ayahuasca Ceremonies, Healing, Yoga, Rythmia Way, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat, ayahuasca retreat">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <meta property="og:type" content="article">
    <meta property="og:title" content="Your Experience">
    <meta property="og:description" content="connect with yourself others and nature at Rythmia check out our schedule of daily activities and adventures. Enjoy or beaches and more.">
    <meta property="og:url" content="https://rythmia.com/experience.html">
    <meta property="og:image" content="img/Rythmia-share-1024x684.jpg">
    <meta property="article:published_time" content="2016-12-12">
    <meta property="article:modified_time" content="2021-10-04">
    <meta property="og:site_name" content="Rythmia LAC">
    <meta name="twitter:card" content="summary">
    <link rel="canonical" href="https://rythmia.com/experience.html">

      <!-- twitter -->
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:title" content="Your Experience"/>
      <meta name="twitter:description" content="We provide luxurious and spacious accommodations in a serene, quiet setting. farm-to-table organic foods, healing touch health club and spa"/>
      <meta name="twitter:site" content="@rythmia"/>
      <meta name="twitter:image" content="img/Rythmia-share-1024x684.jpg"/>
      <meta name="twitter:creator" content="@rythmia"/>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5BKV5VT');</script>
  <!-- End Google Tag Manager -->
    <!-- Font Icons -->
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://app.five9.com/consoles/SocialWidget/five9-social-widget.min.js'></script>
  </head>
<body>

            <!-- twitter -->
            <meta name="twitter:card" content="summary_large_image"/>
            <meta name="twitter:title" content="Your Experience at Rythmia Life Advancement Ayahuasca Retreat"/>
            <meta name="twitter:description" content="We are the premier destination for someone seeking personal growth in all areas of their life through strengthening their spiritual, mental, and physical selves. We have a customized curriculum which provides guest the most comprehensive holistic care anywhere.
            We provide luxurious and spacious accommodations in a serene, quiet setting. farm-to-table organic foods, healing touch health club and spa">
            <meta name="twitter:site" content="@Rythmia"/>
            <meta name="twitter:image" content="img/Rythmia-share-1024x684.jpg"/>
            <meta name="twitter:creator" content="@Rythmia"/>

<!--canonical and shortlink-->
<link rel="canonical" href="https://rythmia.com/experience.html">
    
<!-- tracking code -->
    <partial src="trackingcode.html"></partial>
    <!-- fonts  -->
    <partial src="headParts/fonts.html"></partial>
    <!-- load header bottom -->
    </head>
    <body>
    <!-- top bar and nav-->
    <partial src="modal-medical-license.html"></partial>
    <partial src="modal-vacation.html"></partial>
    <partial src="newsbanner.html"></partial><!-- edit one for the tests --> 
    <partial src="nav2.html"></partial>
