<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Rythmic Breathing - Costa Rica Yoga Spa & Resort| Ayahuasca Retreat Center</title>
    
    <!-- meta tags -->
        <meta name="description" content="Rythmia's Rythmic Breathing - All-Inclusive Wellness & Spiritual Resort.">
        <meta name="keywords" content="plant medicine, ayahuasca, breathwork, miracle rate, cost rica">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:url" content="https://rythmia.com/breathwork" />
        <meta property="og:image" content="img/Rythmia-share-1024x684.jpg" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Rhythmic Breath" />
        <meta property="og:description" content="Rythmia's Rythmic Breathing - All-Inclusive Wellness & Spiritual Resort." />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC"  />
        <meta property="article:published_time" content="2018-03-20">
        <meta property="article:modified_time" content="2020-04-02">
        <link rel="canonical" href="https://rythmia.com/breathwork">
        <link rel="shortlink" href="https://rythmia.com/?p=36998">
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Rhythmic Breath"/>
        <meta name="twitter:description" content="Description of your content here"/>
        <meta name="twitter:site" content="@yourusername"/>
        <meta name="twitter:image" content="img/Rythmia-share-1024x684.jpg"/>
        <meta name="twitter:creator" content="@yourusername"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>