<!-- Modal Vacation -->
<div class="modal modal--vacation fade" id="modal-vacation" tabindex="-1" aria-labelledby="Rythmia Dream Vacation" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="btn btn-lg btn-close" data-bs-dismiss="modal">
        <i class="lni lni-close"></i>
      </button>
      <div class="modal-body">
        <div class="row g-0">
          <div class="col-lg-12 modal-heroE">
            <p class="caption">

            </p>
            <h3>
              Enter to win a transformation vacation. A $7,000+ value!
            </h3>
            <p>A new winner is chosen each month.</p>
            <partial src="email-collector-form.html"></partial>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
