<div class="row">
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon text-center">
      <img src="img/icon-ayahuasca.png" />
      <span></span>
    </div>
    <h4>4</h4>
    <p class="modality-caption"><a class="seoLinks" href="https://rythmia.com/ayahuasca.html">Ayahuasca</a><br />ceremonies</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-casita.png" />
      <span></span>
    </div>
    <h4>7</h4>
    <p class="modality-caption">Nights luxury resort accommodations</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-food.png" />
      <span></span>
    </div>
    <h4>21</h4>
    <p class="modality-caption">Farm to table<br />organic meals</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-answer-is-you.png" />
      <span></span>
    </div>
    <h4>3</h4>
    <p class="modality-caption">Michael Beckwith's<br />“The Answer is You”</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-about-your-miracle.png" />
      <span></span>
    </div>
    <h4>1</h4>
    <p class="modality-caption">Gerard (Gerry) Powell's<br />“About Your Miracle”</p>
  </div>
  <div class="col-md-2 col-4 modality">
    <div class="modality-icon">
      <img src="img/icon-medical.png" class="modality-icon" />
      <span></span>
    </div>
    <h4>2</h4>
    <p class="modality-caption">Medical evaluations<br />by staff physicians</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-dol.png" />
      <span></span>
    </div>
    <h4>1</h4>
    <p class="modality-caption">Dance of Liberation movement ceremony</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-massage.png" />
      <span></span>
    </div>
    <h4>1</h4>
    <p class="modality-caption">Healing<br />Massage</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-cleanse.png" />
      <span></span>
    </div>
    <h4>2</h4>
    <p class="modality-caption">Hydrocolonic<br />cleanse</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-yoga.png" />
      <span></span>
    </div>
    <h4>6</h4>
    <p class="modality-caption">Yoga<br />Classes</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-rythmia-way.png" />
      <span></span>
    </div>
    <h4>1</h4>
    <p class="modality-caption">Rythmia Way<br />program</p>
  </div>
  <div class="col-md-2 col-4">
    <div class="modality-icon">
      <img src="img/icon-breathwork.png" />
      <span></span>
    </div>
    <h4>3</h4>
    <p class="modality-caption">Rythmic<br />breathwork classes</p>
  </div>
</div>
