<!-- Modal - Travel Arrival  -->
<div class="modal fade" id="modal-travel-arrival" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WE NEED YOUR TRAVEL AND ARRIVAL INFORMATION AS SOON AS POSSIBLE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>It is mandatory that we understand your mode of transportation to the resort as well as expected arrival time. We have a round trip shuttle service to/from Liberia Airport and the Hilton Garden Inn next to the Liberia Airport. We are in a gated community so if you are planning to take a cab or rental car to the resort, we’ll need to advise security at the gate. Your options for arriving at the resort are as follows:</p>
                <ol>
                        <li>If you would like to take full advantage of the round-trip shuttle service from Liberia International airport, please provide us with your air travel itinerary so we are clear on your airline, flight number, and arrival date and time.</li>
                        <br>
                        <li>If you would like to be picked up from the Hilton Garden Inn, the standard time for pickup is 11 AM.</li>
                        <br>
                        <li>If you are driving directly to the resort or taking a cab, we will still need to understand your anticipated date and time of arrival at the resort so we can advise security at the gate.</li>
                    
                </ol>
            <p>Please call +1 888.825.3344 or email us  arrivals@rythmia.com at least 72 hours prior to your expected arrival at the resort.</p>
            <p>If we don’t confirm your itinerary at least 72 hours before your arrival, we cannot guarantee shuttle pick-up or immediate access for check-in at the resort.</p>
            <p>Need help booking your flight? Please call us at  +1(888) 825-3344.</p>   
            
              


    
          </div>
        </div>
      </div>
</div>
