<!-- Modal - Travel Arrival  -->
<div class="modal fade" id="modal-plant-medicine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Plant Medicine Program</h5><br>
            <br>
            <h6 class="display-10">Before you Arrive</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
          
          <div class="modal-body">
            <p>If you are participating in the Herbal Support Therapy program, there are some things we need you to understand before your arrival. There are two one-time fees that are due and payable at the resort. The first is a $400 fee for the licensed medical staff and personnel. This fee can be paid by using a credit or debit card. In addition, there is a $60 fee for plant medicine, which needs to be paid in cash to the medicine operating company on-site. You cannot use a credit or debit card for this charge.</p>
          <h6 class="display-10">Things We Need From You</h6> 
            <p>Please send the name and phone number of an emergency contact.</p> 
            
              








            </p>
    
          </div>
        </div>
      </div>
</div>
