<div class="modal fade" id="modal-medical-license" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Medical License</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <img src="img/icon-medical-license.png" width="75" class="float-start me-3" />
          Rythmia  is a full-service, short-stay, licensed medical center, specializing in plant-based alternative therapies.
        </p>

      </div>
    </div>
  </div>
</div>
