<!-- Raffle -->
<section class="feature feature--raffle bg-shipiboB p-5">
  <div class="hero__cta">
    <div class="hero__texture position-absolute top-0 start-0"></div> 
<div class="hero__texture position-absolute bottom-0 start-0"></div>
  </div>
  <div class="container position-relative p-2">
    <div class="row align-items-end">
      <div class="col-md-6 text-center align-self-center ps-2">
        <div class="feature__content-center" loading="lazy">
          <h3 class="display-6">
            Enter to win a transformation vacation
          </h3>
          <p>
            We choose a new winner each month.
          </p>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
<form accept-charset="UTF-8" action="https://yu240.infusionsoft.com/app/form/process/d8d1f502fd10755fa2c8babafaddf8bb" class="form email-collector-form" id="inf_form_d8d1f502fd10755fa2c8babafaddf8bb" method="POST"> 
  <input name="inf_form_xid" type="hidden" value="d8d1f502fd10755fa2c8babafaddf8bb" /> 
     <input name="inf_form_name" type="hidden" value="Web Form Submitted&#a;Rythmia.com&#a;New Dirty Website 2 Homepage Form 1" /> 
        <input name="infusionsoft_version" type="hidden" value="1.70.0.385447" /> 
          <input name="inf_field_LeadSourceId" type="hidden" value="7172" />
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input id="inf_field_FirstName" class="form-control" name="inf_field_FirstName" placeholder="" type="text" />
              </div>
              </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input id="inf_field_LastName" class="form-control"  name="inf_field_LastName" placeholder="" type="text" />
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input id="inf_field_Email" class="form-control" name="inf_field_Email" placeholder="" type="text" />
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="terms">
            <label class="form-check-label" for="terms">I agree to the <a href="terms-privacy.html" class="inline-link">terms</a></label>
            <input type="hidden" id="" name="webformId" value="0001">
            <input name="inf_custom_KeywordTerm" type="hidden" value="null" />
            <input name="inf_custom_gaid" type="hidden" value="null" />
          </div>
          <div class="mt-4 infusion-submit"> <button class="btn btn-primary form__button infusion-recaptcha" id="recaptcha_43ff64cc39aff597a25ecbd26d3f5ae1" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /Raffle -->
