<section class="reviews pt-5 pb-5 bg-light-teal">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="px-5">
          <h4 class="display-4 pb-4"><span class="soulsServed">15,000</span>+ Souls Healed</h4>
          <img src="img/logo-trip-advisor.png" width="150px" alt="#1 rated spiritual retreat on trip advisor" />
          <p class="pt-5">
            Rythmia is the #1 customer-rated specialty lodging in the world on Tripadvisor with over <span class="tripAdvisorN">2,000</span> five-star reviews.
          </p>
          <!-- <a href="https://www.tripadvisor.com/Hotel_Review-g309251-d12154725-Reviews-Rythmia_Life_Advancement_Center-Santa_Cruz_Province_of_Guanacaste.html" class="inline-link">
            Read Tripadvisor reviews
          </a> -->
        </div>
      </div>
      <div class="col-md-8">
        <partial src="reviews-slider.html"></partial>
      </div>
    </div>
  </div>
</section>
