<section class="feature feature--thought-leaders bg-light-coral overflow-hidden">
  <div class="container position-relative">
    <div class="row align-items-start">
      <div class="col-md-6 feature__video">
        <div class="video-holder">
          <a href="#" data-bs-toggle="modal" data-bs-target="#modal-about">
            <button class="btn btn-play btn-white position-absolute top-50 start-50 translate-middle">
              <i class="lni lni-play"></i>
            </button>
          </a>
          <img src="img/thought-leader-grid.jpg" class="lazy" width="100%" loading="lazy" alt="Workshops with today's top thought leaders" />
        </div>
      </div>
      <div class="col-md-6 align-self-end pt-5 ps-4">
        <h6 class="display-6">Workshops with today’s top thought leaders</h6>
        <p>
          Rythmia’s primary and most requested program is called going deeper with plant medicine. After going deeper with plant medicine the next most requested weeks are thought leader weeks.
        </p>
        <a href="guest-speakers.html" class="btn btn-teal">View thought leaders</a>
        <div class="row mt-5">
          <div class="col-5 align-self-center">
            <h3 class="quote">
              “I just love it. I love what's happening here. If you're called for advancement in your own life, you want to think of Rythmia.”
            </h3>
            <p class="caption">
              Michael Bernard Beckwith
              <br />
              <span>Agape founder & author</span>
            </p>
          </div>
          <div class="col-7 align-self-end">
            <img src="img/mbb222.png" class="lazy" width="100%" loading="lazy" alt="Michael Beckwith" />
          </div>
        </div>
      </div>
    </div>
    <div class="bg-circle bg-circle--teal position-absolute top-100 start-50 translate-middle"></div>
  </div>
</section>
