<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Gerard Powell at Rythmia  Costa Rica</title>
    
    <!-- meta tags -->
        <meta name="description" content="Rythmia Presents Gerard Powell. Rythmia is an all-inclusive, luxury Ayahuasca retreat center located in beautiful Guanacaste, Costa Rica.">
        <meta name="keywords" content="Gerard Powell, Rythmia, Gerry Powell, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Gerard Powell">
        <meta name="description" content="Join Gerard Powell on NOVEMBER 22 – 29, 2020 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta property="og:url" content="https://rythmia.com/rp-mbb.html" />
        <meta property="og:image" content="img/0105_Rythmia_BeckwithJUL2019_FB-1-2-1024x576.jpg">
        <meta property="og:image:alt" content="img/0105_Rythmia_BeckwithJUL2019_FB-1-2-1024x576.jpg" /> 
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="https://rythmia.com" />
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Rythmia Presents: Gerard Powell"/>
        <meta name="twitter:description" content="Join Gerard Powell on NOVEMBER 22 – 29, 2020 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta property="og:image" content="img/0105_Rythmia_BeckwithJUL2019_FB-1-2-1024x576.jpg">
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>