<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Christo Pellani | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="Join Christo Pellani on APRIL 7 – 14 & MARCH 10th - 17th, 2019, 2019 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta name="keywords" content="Christo Pellani, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Christo Pellani">
        <meta name="description" content="Join Christo Pellani on APRIL 7 – 14 & MARCH 10th - 17th, 2019, 2019 at Rythmia in Costa Rica, part of our workshop series with your favorite luminaries.">
        <meta property="og:url" content="https://rythmia.com/christo-pellani" />
        <meta property="og:image" content="img/Christo.jpg">
        <meta property="article:published_time" content="2018-07-06">
        <meta property="article:modified_time" content="2021-02-02">
        <meta property="og:image:alt" content="Christo.jpg" /> 
        <link rel="canonical" href="https://rythmia.com/christo-pellani">
        <link rel="shortlink" href="https://rythmia.com/?p=37430">
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Christo Pellani"/>
        <meta name="twitter:description" content="Join Christo Pellani at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="img/Christo.jpg"/>
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>