<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Christian De La Huerta | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="Christian de la Huerta on January 21 - 28th, 2018 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta name="keywords" content=",Christian De La Huerta, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Christian De La Huerta">
        <meta name="description" content="Christian de la Huerta on January 21 - 28th, 2018 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta property="og:url" content="https://rythmia.com/christian-huerta" />
        <meta property="og:image" content="img/Christian-de-la-Huerta-Email-Graphic-Social-FB-Cover-1-1024x538.jpg">
        <meta property="article:published_time" content="2017-04-10">
        <meta property="article:modified_time" content="2021-02-02">
        <meta property="og:image:alt" content="img/Christian-de-la-Huerta-Email-Graphic-Social-FB-Cover-1-1024x538.jpg" /> 
        <link rel="canonical" href="https://rythmia.com/christian-huerta">
        <link rel="shortlink" href="https://rythmia.com/?p=34719">
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Christian De La Huerta"/>
        <meta name="twitter:description" content="Join Christian De La Huerta at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="img/Christian-de-la-Huerta-Email-Graphic-Social-FB-Cover-1-1024x538.jpg"/>
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>