<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Frank Elaridi | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="Join Frank Elaridi on JULY 9 - 16, 2023 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta name="keywords" content="Frank Elaridi, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Frank Elaridi">
        <meta name="description" content="Join Frank Elaridi on JULY 9 - 16, 2023 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta property="og:url" content="https://rythmia.com/frank-elaridi.html" />
        <meta property="og:image" content="https://rythmia.com/img/frank-elaridi-open-graph.png.png">
        <meta property="article:published_time" content="2017-04-10">
        <meta property="article:modified_time" content="2021-05-14">
        <meta property="og:image:alt" content="https://rythmia.com/img/frank-elaridi-open-graph.png" /> 
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Frank Elaridi"/>
        <meta name="twitter:description" content="Join Frank Elaridi on  at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="https://rythmia.com/img/fb-banner-frank.png"/>
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>