<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Janet Bray Attwood and Debrah Poneman | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="Janet Bray Attwood and Debrah Poneman on July 15 - 22, 2018 at Rythmia in Costa Rica, part of our workshop series with your favorite luminaries.">
        <meta name="keywords" content="Janet Bray Attwood and Debrah Poneman, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Janet Bray Attwood and Debrah Poneman">
        <meta name="description" content="Janet Bray Attwood and Debrah Poneman on July 15 - 22, 2018 at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta property="og:url" content="https://rythmia.com/janet-debrah" />
        <meta property="og:image" content="img/0013-Janet-and-Debra-Email-Graphic-Social-FB-Cover-1024x538.jpg">
        <meta property="article:published_time" content="2017-07-26">
        <meta property="article:modified_time" content="2021-02-02">
        <meta property="og:image:alt" content="img/0013-Janet-and-Debra-Email-Graphic-Social-FB-Cover-1024x538.jpg" /> 
        <link rel="canonical" href="https://rythmia.com/janet-debrah">
        <link rel="shortlink" href="https://rythmia.com/?p=36139">
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Janet Bray Attwood and Debrah Poneman"/>
        <meta name="twitter:description" content="Join Janet Bray Attwood and Debrah Poneman at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="img/0013-Janet-and-Debra-Email-Graphic-Social-FB-Cover-1024x538.jpg"/>
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>