<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Majesty Women's Week at Rythmia  Costa Rica | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="content="Join Brandee Sabella on June 4th - 11th, 2023, at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."">
        <meta name="keywords" content="Brandee Sabella, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Majesty Womens Week">
        <meta name="description" content="content=Join Brandee Sabella on June 4th - 11th, 2023, at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta property="og:url" content="https://rythmia.com/majesty-womens-week.html" />
        <meta property="og:image" content="https://rythmia.com/img/majesty-FB-BANNER.png">
        <meta property="article:published_time" content="2023-05-12">
        <meta property="article:modified_time" content="2023-05-12">
        <meta property="og:image:alt" content="img/majesty-FB-BANNER.png" /> 
        <link rel="canonical" href="https://rythmia.com/img/majesty-FB-BANNER.png">
        <link rel="shortlink" href="https://rythmia.com/">
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Majesty Women's Week"/>
        <meta name="twitter:description" content="Join Brandee Sabella on June 4th - 11th, 2023, at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="img/majesty-FB-BANNER.png"/>
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>