<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Past Life Resolution at Rythmia  Costa Rica | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="Join Merrill Bennett on OCTOBER 11 - 18, 2020, at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta name="keywords" content="Merrill Bennett, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Past Life Resolution">
        <meta name="description" content="Join Merrill Bennett on OCTOBER 11 - 18, 2020, at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders.">
        <meta property="og:url" content="https://rythmia.com/past-life-event" />
        <meta property="og:image" content="img/0340_Rythmia_PastLives_FB-1024x576.jpg">
        <meta property="article:published_time" content="2020-02-01">
        <meta property="article:modified_time" content="2021-02-02">
        <meta property="og:image:alt" content="img/0340_Rythmia_PastLives_FB-1024x576.jpg" /> 
        <link rel="canonical" href="https://rythmia.com/past-life-event">
        <link rel="shortlink" href="https://rythmia.com/?p=38897">
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Past Life Resolution"/>
        <meta name="twitter:description" content="Join Merrill Bennett on OCTOBER 11 - 18, 2020, at Rythmia in Costa Rica, part of our workshop series with your favorite thought leaders."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="img/0340_Rythmia_PastLives_FB-1024x576.jpg"/>
        <meta name="twitter:creator" content="@rythmia"/>

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>