<partial src="headParts/htop.html"></partial>
    <!-- title -->
    <title>Taita Juanito | Rythmia Life Advancement Ayahuasca Retreat</title>
    
    <!-- meta tags -->
        <meta name="description" content="Join Taita Juanito for Plant Medicine Ceremonies on February 24 - March 3, 2019, May 12 - 19, 2019, October 20 - 27, 2019, & December 1 - 8, 2019 at Rythmia in Costa Rica.">
        <meta name="keywords" content="Taita Juanito, plant medicine, ayahuasca, breathwork, miracle, cost rica retreat">
        <!---->
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">

        <!-- og tags -->
        <meta property="og:title" content="Rythmia Presents: Taita Juanito">
        <meta name="description" content="Join Taita Juanito for Plant Medicine Ceremonies on February 24 - March 3, 2019, May 12 - 19, 2019, October 20 - 27, 2019, & December 1 - 8, 2019 at Rythmia in Costa Rica.">
        <meta property="og:url" content="https://rythmia.com/taita-juanito.html" />
        <meta property="og:image" content="https://rythmia.com/img/Taita Open Graph.png">
        <meta property="article:published_time" content="2019-09-10">
        <meta property="article:modified_time" content="2021-02-02">
        <meta property="og:image:alt" content="https://rythmia.com/img/Taita Open Graph.png" /> 
        <link rel="canonical" href="https://rythmia.com/taita-juanito.html">
       
        <!-- -->
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Rythmia LAC">        
        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Rythmia Presents: Taita Juanito"/>
        <meta name="twitter:description" content="Join Taita Juanito for Plant Medicine Ceremonies on February 24 - March 3, 2019, May 12 - 19, 2019, October 20 - 27, 2019, & December 1 - 8, 2019 at Rythmia in Costa Rica."/>
        <meta name="twitter:site" content="@rythmia"/>
        <meta name="twitter:image" content="https://rythmia.com/img/Taita Open Graph.png"/>
        <meta name="twitter:creator" content="@rythmia"/>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->

<!-- tracking code -->
<partial src="trackingcode.html"></partial>
<!-- fonts  -->
<partial src="headParts/fonts.html"></partial>
<!-- load header bottom -->
</head>
<body>
<!-- top bar and nav-->
<partial src="modal-medical-license.html"></partial>
<partial src="modal-vacation.html"></partial>
<partial src="nav.html"></partial>